<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Warehouses</display-name>

    <servlet-mapping>
        <servlet-name>SearchWarehousesServlet</servlet-name>
        <url-pattern>/warehouses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchWarehousesServlet</servlet-name>
        <servlet-class>com.githab.warehouse.servlet.SearchWarehousesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultWarehousesServlet</servlet-name>
        <url-pattern>/warehouses/result</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResultWarehousesServlet</servlet-name>
        <servlet-class>com.githab.warehouse.servlet.ResultWarehousesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <url-pattern>/add_warehouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <servlet-class>com.githab.warehouse.servlet.crud.AddWarehouseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteWarehouseServlet</servlet-name>
        <url-pattern>/delete_warehouse</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>DeleteWarehouseServlet</servlet-name>
    <servlet-class>com.githab.warehouse.servlet.crud.DeleteWarehouseServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>UpdateWarehouseServlet</servlet-name>
        <url-pattern>/update_warehouse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateWarehouseServlet</servlet-name>
        <servlet-class>com.githab.warehouse.servlet.crud.UpdateWarehouseServlet</servlet-class>
    </servlet>

</web-app>
